* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 800px;
  margin-inline: auto;
  padding-inline: 24px;
}

.intro-chunk {
  margin: 96px 0 64px;
  max-width: 415px;
}

.title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 38.4px;
  color: hsl(0deg, 0%, 0%);
  margin-bottom: 48px;
}

.intro-chunk p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 30px;
  letter-spacing: -0.5;
  color: hsl(0deg, 0%, 0%);
  margin-bottom: 16px;
}

.intro-chunk strong {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 30px;
  letter-spacing: -0.5;
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsl(0deg, 0%, 40%);
  border-top: 8px solid hsl(0deg, 0%, 60%);
  padding: 72px 0 66px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  margin-inline: -24px;
  padding: 8px 24px 24px;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

.indented-heading {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 28.8px;
  color: hsl(0deg, 0%, 0%);
  margin-bottom: 16px;
  margin-left: -32px;
  padding: 16px 32px;
  width: fit-content;

  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}

.card p {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 30px;
  color: hsl(0deg, 0%, 0%);
  margin-bottom: 16px;
}
